#comments h3 {
    margin-bottom: 0px;
    margin-top: 30px;
}

.comment-form {
    display: flex;
}

.comment-content {
    display: flex;
    margin-bottom: 0px;
}

.comment-content textarea {
    width: 100%;
    border-width: 2px;
    border-style: dashed;
    border-color: lightpink;
    border-radius: 5px;
    padding: 15px;
    list-style-type: none;
    resize: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#response {
    width: 100%;
    display: block;
}

.input-id {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    margin-top: 6px;
}

#comment-form {
    display: flex;
    flex-direction: column;
}

.input-id label {
    height: 1.8em;
}

.input-id input {
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    border-radius: 5px;
    height: 2em;
    padding: 0 5px;
}

.input-id-box {
    display: grid;
    grid-template: "a b c";
    grid-column-gap: 20px;
}

.comment-parent {
    border-width: 2px;
    border-style: dashed;
    border-color: cadetblue;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    list-style-type: none;
}

.comment-parent .comment-reply {
    text-align: right;
}

#comments>.comment-list {
    padding-left: 0px;
}

.comment-submit button {
    border-width: 1px;
    height: 40px;
    width: 80px;
    border-style: solid;
    border-color: pink;
    border-radius: 5px;
    background-color: antiquewhite;
}

.comment-submit button:hover {
    background-color: pink;
    transition: background-color 0.2s ease;
}

.comment-meta p {
    margin: 0px;
}

.comment-meta {
    display: grid;
    grid-template: "a b d" auto "a c d" / auto 1fr auto;
}

.comment-author {
    grid-area: a;
}

.comment-author img {
    border-radius: 10px;
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.comment-meta cite {
    grid-area: b;
}

.comment-meta p {
    grid-area: c;
}

.comment-reply {
    grid-area: d;
}

#cancel-comment-reply-link {
    border-width: 2px;
    border-style: dashed;
    border-color: burlywood;
    display: inline;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: smaller;
}

#cancel-comment-reply-link:hover {
    background-color: burlywood;
    transition: background-color 0.2s ease;
    background-image: none;
}

#cancel-comment-reply-link:after {
    display: none;
}

.respond {
    animation: showReplyBox 0.3s ease-in-out;
    margin: 20px 0px 50px 0px;
}

@keyframes showReplyBox {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media(orientation: portrait) {
    .input-id-box {
        display: flex;
        flex-direction: column;
    }
}