body {
    font-family: 'Nunito', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.entryTags {
    font-size: large;
    font-style: italic;
    color: #676767;
}

a {
    text-decoration: none;
    color: inherit;
}

.headbar {
    display: flex;
    margin: 3% 8% 5%;
    overflow: scroll;
    scrollbar-width: none;
}

.headbar .descriptions * {
    display: block;
    margin: 0px;
    overflow: visible;
}

.headbar a {
    font-variant: small-caps;
}

.headbar .navigations {
    display: flex;
    right: 0px;
    position: absolute;
    font-variant: small-caps;
    margin-right: 30%;
}

.headbar .navigations * {
    margin-left: 30px;
}

.main {
    margin: 7% 10%;
}

.post {
    margin-top: 5%;
    display: block ruby;
    display: -webkit-box;
}

.post .texts {
    display: block;
    width: 70%;
}

.post .postText {
    display: block;
    width: 100%;
}

.post .postCover {
    width: 30%;
}

.post .postCover img {
    width: 100%;
}

.postMainCover img {
    width: 100%;
}

pre {
    white-space: pre-wrap !important;
}

code {
    font-family: 'Source Code Pro', monospace !important;
    white-space: inherit !important;
}