* {
    scrollbar-width: auto;
    scrollbar-color: pink transparent;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: pink;
    border: none;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

:focus {
    outline: none;
}

:focus-visible {
    outline: 1px dashed pink;
}

body {
    font-family: 'Nunito', sans-serif;
}

blockquote {
    border-left: 10px solid pink;
    margin: 1em;
    padding: 0 1em;
    color: #4c4c4c;
}

.entryTags {
    font-size: large;
    font-style: italic;
    color: #676767;
}


img {
    max-width: 100%;
    height: auto;
}

.post img {
    border-radius: 10px;
}
.post .imgParent {
    border-radius: 10px;
}

.postMainCover img {
    border-radius: 10px;
}

.postMainCover .imgParent {
    border-radius: 10px;
}

.postPost .entryTags {
    margin-bottom: 2em;
}

.headbar {
    display: flex;
    margin: 2% 5% 2%;
    overflow: scroll;
    scrollbar-width: none;
}

.headbar .descriptions * {
    display: block;
    margin: 0px;
    overflow: visible;
}

.headbar a {
    font-variant: small-caps;
}

.headbar .navigations {
    display: flex;
    margin: auto 0px auto auto;
    position: relative;
    font-variant: small-caps;
    scrollbar-width: none;
    overflow: auto;
}

.headbar .navigations * {
    margin-left: 2vw;
    min-width: max-content;
}

.indexMain {
    margin: 3% auto 7% auto;
    max-width: 75%;
}

.main {
    margin: 3% auto 7% auto;
    max-width: min(90vw,850px);
}

.post {
    margin-top: 5%;
    display: block ruby;
    display: -webkit-box;
}

.post .texts {
    display: block;
    width: 70%;
}

.post .postText {
    display: block;
    width: 100%;
}

.post .postCover {
    width: 30%;
}

.post .postCover .imgParent {
    width: 100%;
}

.postMainCover .imgParent {
    width: 100%;
}

.entryText a {
    color: #d22b48;
}

pre {
    white-space: pre-wrap !important;
}

code {
    font-family: 'Source Code Pro', monospace !important;
    white-space: inherit !important;
    word-break: break-all;
    font-size: 0.95em;
}

.imgParent {
    width: fit-content;
    height: fit-content;
    background-size: 100%;
    display: flex;
}
a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    word-break: break-all;
}
a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    z-index: -1;
    bottom: 0;
    left: 0;
    background-color: pink;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;

}
a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
a:has(img)::after {
    display: none;
}
