* {
    scrollbar-width: thin;
    scrollbar-color: pink white;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: pink;
    border: none;
}

::-webkit-scrollbar-track {
    background: transparent;
    border: none;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

body {
    font-family: 'Nunito', sans-serif;
}

.headbar::-webkit-scrollbar {
    display: none;
}

blockquote {
    border-left: 10px solid pink;
    margin: 1em;
    padding: 0 1em;
    color: #4c4c4c;
}

.entryTags {
    font-size: large;
    font-style: italic;
    color: #676767;
}

a {
    text-decoration: none;
    color: inherit;
    word-break: break-all;
}

img {
    max-width: 100%;
}

.post img {
    border-radius: 10px;
}

.postMainCover img {
    border-radius: 10px;
}

.headbar {
    display: flex;
    margin: 3% 8% 5%;
    overflow: scroll;
    scrollbar-width: none;
}

.headbar .descriptions * {
    display: block;
    margin: 0px;
    overflow: visible;
}

.headbar a {
    font-variant: small-caps;
}

.headbar .navigations {
    display: flex;
    right: 10%;
    position: absolute;
    font-variant: small-caps;
    scrollbar-width: none;
    margin-left: 40%;
    max-width: 30%;
    overflow: auto;
}

.headbar .navigations * {
    margin-left: 30px;
    min-width: max-content;
}

.main {
    margin: 7% 10%;
}

.post {
    margin-top: 5%;
    display: block ruby;
    display: -webkit-box;
}

.post .texts {
    display: block;
    width: 70%;
}

.post .postText {
    display: block;
    width: 100%;
}

.post .postCover {
    width: 30%;
}

.post .postCover img {
    width: 100%;
}

.postMainCover img {
    width: 100%;
}

pre {
    white-space: pre-wrap !important;
}

code {
    font-family: 'Source Code Pro', monospace !important;
    white-space: inherit !important;
    word-break: break-all;
}